.mdtTable.md-THEME_NAME-theme {

  background-color: #FFFFFF;
  color: #323232;

  .selectedRow {
    background-color: '{{accent-color}}';
    color: #FFFFFF;

    md-icon {
      color: #FFFFFF !important;
    }
  }
}